form input {
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding: 0px 15px;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #aaa;
  border-radius: 0px;
  border: 1px solid #7a7a7a;
  box-shadow: none;
}

form input:focus {
  border-color: #2a2a2a;
  border-radius: 0px;
}

form button {
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  background-color: #2a2a2a;
  box-shadow: none;
  border: 1px solid transparent;
  color: #fff;
  transition: all 0.3s;
}

form button:hover {
  background-color: #fff;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
}

#subscribe {
  margin-top: 100px;
}

.login-container {
  margin-top: 150px;
}

h4 {
  color: #000;
  margin-top: -10px;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}

span {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  font-style: italic;
  display: block;
  margin-bottom: 30px;
}
